In [1]:
import numpy as np
import pandas as pd

Read the Data

In [2]:
dataFile = "imports.data"
df = pd.read_csv(dataFile, header = None)

In [3]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
df.tail(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Add Headers to give data columns

In [5]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [6]:
df.columns = headers
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Replacing the "?" values with NaN

In [11]:
df.replace("?", np.NaN)
df.dropna(subset = ["price"], axis = 0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Question #2: 
Find the name of the columns of the dataframe

In [13]:
df.to_csv("automobile.csv", index = False)

In [2]:
data = pd.read_csv("automobile.csv")

# DATA WRANGLING

In [3]:
data.replace("?",np.NaN, inplace=True)

### Finding missing data

In [75]:
#checking for anymore missing data
data.isnull().sum()

# using a for loop
for column in data.columns:
    print(column)
    print(data[column].isnull().sum())

symboling
0
normalized-losses
41
make
0
fuel-type
0
aspiration
0
num-of-doors
2
body-style
0
drive-wheels
0
engine-location
0
wheel-base
0
length
0
width
0
height
0
curb-weight
0
engine-type
0
num-of-cylinders
0
engine-size
0
fuel-system
0
bore
4
stroke
4
compression-ratio
0
horsepower
2
peak-rpm
2
city-mpg
0
highway-mpg
0
price
4

From above:
* normalized losses have 41 missing values
* num-of-doors has 2 missing values
* bore has 4 missing values
* horsepower has 2 missing values
* peak-rom has 2 missing values
* price has 4 mising values

### Handling the missing data

In [4]:
# delete all row where price is missing
data.dropna(subset = ["price"], inplace = True, axis = 0)
## reset index
data.reset_index(drop=True, inplace=True)

In [5]:
#replacing empty normalized losses with mean
average_normalized_loss = data["normalized-losses"].astype("float").mean()
data["normalized-losses"].replace(np.nan, average_normalized_loss, inplace = True)

In [6]:
#replacing empty stroke with mean
average_stroke = data["stroke"].astype("float").mean()
data["stroke"].replace(np.nan, average_stroke, inplace = True)

In [7]:
#replacing null values in bore column with the mean
average_bore = data["bore"].astype("float").mean(axis = 0)
data["bore"].replace(np.nan, average_bore, inplace=True)

In [8]:
#replacing null values in horsepower with mean
average_horsepower = data["horsepower"].astype("float").mean()
data["horsepower"].replace(np.nan, average_horsepower, inplace= True)

In [9]:
#replacing null values in peak-rpm with mean
average_horsepower = data["peak-rpm"].astype("float").mean()
data["peak-rpm"].replace(np.nan, average_horsepower, inplace= True)

In [10]:
#replacing null values in num-of-doors with most frequent num-of-do
most_frequent_numofdoor = data["num-of-doors"].value_counts().idxmax()
data["num-of-doors"].replace(np.nan, most_frequent_numofdoor, inplace=True)

In [11]:
#check whether there are any null values after handling missing data
data.isnull().sum().sum()

0

### Correct data format

In [38]:
#listing data types for each column
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [12]:
# converting the data types to correct format
data[['bore','stroke','price', 'peak-rpm']] = data[['bore','stroke','price', 'peak-rpm']].astype('float')
data['normalized-losses'] = data['normalized-losses'].astype('int')
data.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

### Data standardization

In [13]:
# Strandardizing the fule consumption column(city-mpg) from mpg to l/100km
data["city-L/100km"] = 235/data["city-mpg"]

In [14]:
#standardizing the column, highway-mpg to highway-l/100km
data["highway-L/100km"] = 253/data['highway-mpg']

### Data normalization

In [17]:
# normalizing width,height and length
data["length"] = data["length"]/data["length"].max() 
data["height"] = data["height"]/data["height"].max()
data["width"] = data["width"]/data["width"].max()

In [18]:
data["length"].max()

1.0